body{
    text-align: center;
    background-color: lightgray;
}
ul.topnav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
}
ul.topnav li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration:none;
}
ul.topnav li a:hover{
    background-color: gray;
}
ul.topnav input{
    margin: 10px;
    height: 30px;
}
.advantages {
    list-style-position: inside; /* شماره‌ها داخل متن قرار بگیرند */
    padding: 0;
    margin: 20px auto;
    max-width: 600px; /* عرض باکس برای مرتب بودن */
}

.advantages li {
    margin: 10px 0; /* فاصله بین هر مورد */
}
.disadvantages {
    list-style-position: inside; /* شماره‌ها نزدیک متن */
    padding: 0;
    margin: 20px auto;
}
img{
    width: 400px;
    height: 500px;
}
img:hover{
    width: 700px;
    height: 600px;
}
#disadvantege{
    background-color: lightgreen;
}
#advantege{
    background-color: lightcoral;
}
#goal{
    background-color: lightskyblue;
}